.cooks-profile
  .cooks-profile__head
    .cooks-profile__head__image
    .cooks-profile__head__name
      #{current_cook.nickname}
  .cooks-profile__content
    .cooks-profile__content__history
      .cooks-profile__content__history__title
        経歴
      .cooks-profile__content__history__text
        %br aaaaaaaaaaaa 
        %br aaaaaaaaaaaa 
        %br aaaaaaaaaaaa 
        %br aaaaaaaaaaaa
    .cooks-profile__content__pr
      .cooks-profile__content__pr__title
        自己紹介
      .cooks-profile__content__pr__text