.cooks-top
  = render "shared/header"
  -# = link_to "Sign up", new_cook_registration_path
  -# = link_to "店舗Sign up", new_restaurant_registration_path
  -# = link_to "Log in", new_cook_session_path
  -# = link_to "Log out", destroy_cook_session_path,method: :delete
  .cooks-top__middle-head
    .cooks-top__middle-head__name
      ゲストさん
      =link_to new_portfolio_path do
        テスト用投稿
    .cooks-top__middle-head__tabs
      .cooks-top__middle-head__tabs__pf.tab
        portfolio
      .cooks-top__middle-head__tabs__ac.tab
        article
      .cooks-top__middle-head__tabs__prof.tab
        profile
  .cooks-top__contents
    - @portfolios.each do |portfolio|
      = render partial: "portfolios/portfolio", locals: { portfolio: portfolio }