.cooks-top
  -# = render "shared/header"
  .cooks-top__middle-head
    .cooks-top__middle-head__name
      -if cook_signed_in?
        #{current_cook.nickname}さん
      - else
        ゲストさん
    .cooks-top__middle-head__test
      -if cook_signed_in?
        =link_to new_portfolio_path do
          テスト用投稿
    .cooks-top__middle-head__tabs
      .cooks-top__middle-head__tabs__pf.tab
        works
      .cooks-top__middle-head__tabs__ac.tab
        articles
      .cooks-top__middle-head__tabs__prof.tab
        profile
  .cooks-top__contents
    - @portfolios.each do |portfolio|
      = render partial: "portfolios/portfolio", locals: { portfolio: portfolio }