.cooks-top
  -# = render "shared/header"
  .cooks-top__middle-head
    .cooks-top__middle-head__name
      -if cook_signed_in?
        #{current_cook.nickname}さん
      - else
        ゲストさん
    .cooks-top__middle-head__test
      -if cook_signed_in?
        =link_to new_portfolio_path do
          テスト用投稿
    .cooks-top__middle-head__tabs
      %ul
        %li.cooks-top__middle-head__tabs__pf.tab.is-active
          works
        %li.cooks-top__middle-head__tabs__ac.tab
          articles
        %li.cooks-top__middle-head__tabs__prof.tab
          profile
  .cooks-top__portfolios.panel.is-show
    - @portfolios.each do |portfolio|
      = render partial: "portfolios/portfolio", locals: { portfolio: portfolio }
  .cooks-top__articles.panel
  .cooks-top__profile.panel