.cooks-top__contents__thumbnail
  .cooks-top__contents__thumbnail__img
    =image_tag portfolio.image1.url size: "250x200", class:"image"
  .cooks-top__contents__thumbnail__footer
    .cooks-top__contents__thumbnail__footer__title
      = "#{portfolio.title}"
    .cooks-top__contents__thumbnail__footer__utility
      %ul
        %li
          =link_to "編集", "/portfolios/#{portfolio.id}/edit", method: :get
        %li
          -# =link_to "詳細", show_portfolio_path
          詳細
        %li
          =link_to "削除", "/portfolios/#{portfolio.id}", method: :delete
    