.article {
  height: 100px;
  width: 90vw;
  margin: 0 auto;
  background-color: moccasin;
  border: lightgray solid 20px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  &__image {
    height: 80px;
    width: 80px;
    background-color: orchid;
    margin-top: 10px;
    margin-left: 20px;
    >image {
      height: 80px;
      width: 80px;
    }
  }
  &__content {
    margin-left: 30px;
    &__title {
      font-size: 24px;
      font-weight: bold;
      font-family: sans-serif;
    }
    &__text {

    }
  }
  &__auther {
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    right: 20px;
  }
}