.cooks-profile {
  width: 600px;
  background-color: lightgray;
  margin: 0 auto;
  box-sizing: border-box;
  border: 20px solid lightgray; 
  &__head {
    background-color: lightpink;
    width: 100%;
    .span {
      font-size: 10px;
    }
    &__image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: lime;
      margin: 0 auto;
    }
    &__name {
      text-align: center;
      line-height: 3em;
      font-size: 24px;
    }
  }
  &__content {
    width: 100%;
    &__history {
      min-height: 200px;
      background-color: lightsalmon;
      padding-bottom: 20px;
      &__title {
        text-decoration: underline;
        font-size: 24px;
        margin-left: 1em;
        padding-top: 1em;
      }
      &__text {
        min-height: 200px;
        margin: 20px;
        border: solid 2px;
        padding-bottom: 20px;
      }
    }
    &__pr {
      min-height: 200px;
      background-color: lightsalmon;
      padding-bottom: 20px;
      &__title {
        text-decoration: underline;
        font-size: 24px;
        margin-left: 1em;
        padding-top: 1em;
      }
      &__text {
        min-height: 200px;
        margin: 20px;
        border: solid 2px;
      }
    }
  } 
}