.header {
  height: 70px;
  width: 100vw;
  background-color: slateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  .ulink {
    height: 20px;
    min-width: 7em;
    text-align: center;
    background-color: snow;
    margin: 0 5px;
    background-color: springgreen;
    border-radius: 4px;
    color: gray;
    padding: 7px;
  }
  .link {
    color: gray;
  }
  &__title{
    font-size: 32px;
    text-shadow: slategray;
    font-family: sans-serif;
    margin-left: 1em;
    .link {
      color: silver;
    }
  }
  &__utility{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
}